@import "../node_modules/scss-reset/src/scss/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
